body {
  margin: 0 auto;
  font-family: 'Peralta', cursive;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  color: antiquewhite;
  margin: 0 20px;
  width: 100vw;
  height: 100vh;
}

.inline {
  display: inline;
  font-family: 'Peralta', cursive;
  color:antiquewhite;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: darkgreen;
  font-size: 16px;
  height: 50px;
  width: 100px;
  margin: 10px;
}

.roundbtn {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: bisque;
  height: 50px;
  width: 250px;
  text-align: center;
}

.newRound {
  cursor: pointer;
  font-family: 'Peralta', cursive;
  background-color: inherit;
  border: none;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  padding-top: 13px
}


.start {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: darkgreen;
  font-size: 75px;
  color: red;
  margin: 20px;
  font-family: 'Peralta', cursive;
}

.newRound {
  width: 120px;
}

.picture {
  width: 40vw;
  height: 32vh;
  border: solid darkgreen 3px;
  border-radius: 5px;
}

.rules {
  margin: 0 30px;
}

.bottom {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: darkgreen;
color: bisque;
text-align:center;
padding: 5px;
}

footer {
display: inline;
margin: 0 40px;
}


.hint, .home {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: 'Peralta', cursive;
  color: bisque;
  margin: 0 20px;
  font-size: large;
}

a:link, a:visited {
  background-color: inherit;
  color: bisque;
}

.sidenote {
  padding: 5px;
  border: solid black 2px;
  border-radius: 5px;
}

.r {
  margin: 5px
}


.scoreboard {
  position: absolute;
  top: 5%;
  right: 9%;
  margin: 10px;
  background-color: darkgreen;
  border: solid burlywood 2px;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.score {
  display: inline;
  color: lightcoral;
  margin: 0 20px;
}
