body {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  color: aliceblue;
}

button {
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 10px;
}


